/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
.inputRecipe {
color: purple;
}
.header {
  font-family: 'Roboto', sans-serif;
  background-color: #0fb9b1;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.lookingHeader {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1em;
  margin-left: 1em;
}
input {

}
.radio-button {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
}

.cook-button {
  background-color:  #0fb9b1;
  border: none;
  padding: 5px 50px 5px 50px;
  border-radius: 4px;
  margin-top: 1em;
  margin-left: 1em;

}

.recipe-button {
  border-radius: 8px;
  height: 40px;
}
.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url('assets/burger-friends.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
}
.box1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 3em;
  margin-left: 5em;
  margin-bottom: 3em;
  height: 250px;
  width: 350px;
  background-color: rgba(225, 225, 225, .9);
  float: left;

}
.box2 {
  margin-top: 3em;
  margin-right: 5em;
  height: 250px;
  width: 350px;
  background-color: rgba(225, 225, 225, .9);
  float: right;
  display: flex;
  justify-content: center;
}
.box-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cookpot {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}
.randomDish {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.suggestion-div{
  text-align: -webkit-center;
  padding-bottom: 20px
}
.clear-button {
  background-color: #95a5a6;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(225, 225, 225, .9);
  color: black;
  z-index: 1000;
  height: 50px;
  padding-left: 20px;
  padding-top: 10px
}
.inputRecipe {
color: black;
}
